.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url("../../assets/images/bg-auth.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}