.spinner {
    position: relative;
    width: 24.6px;
    height: 24.6px;
    div {
        animation: spinner 1.875s infinite backwards;
        background-color: #1386a6;
        border-radius: 50%;
        height: 100%;
        position: absolute;
        width: 100%;
        &:nth-child(1) {
            animation-delay: 0.15s;
            background-color: rgba(19, 134, 166, 0.9);
        }
        &:nth-child(3) {
            animation-delay: 0.45s;
            background-color: rgba(19, 134, 166, 0.7);
        }
        &:nth-child(4) {
            animation-delay: 0.6s;
            background-color: rgba(19, 134, 166, 0.6);
        }
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg) translateY(-200%);
    }
    60%,
    100% {
        transform: rotate(360deg) translateY(-200%);
    }
}